#### Homework
Use geopy to convert lat and long to cities   
Use that and join the datasets   
Run a logistical regression using the combined dataset     
Plot the output of the predict_probability (predict_proba(X)) method (the probablity estimates to see if it's lining us   with the S curve)  
One interpretation of the coefficient of that model

# Importing Libraries

In [1]:
#Importing libraries needed
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pyplot
%matplotlib inline
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## Column Description
NOAA Data   
Average wind speed (AWND)   
Peak gust time (PGTM)     
Direction of fastest 2-minute wind (WDF2) (in degrees)   
Direction of fastest 5-second wind (WDF5) (in degrees)   
Fastest 2-minute wind speed (WSF2) (in meters per second)    
Fastest 5-second wind speed (WSF5) (in meter per second)      
24-hour wind movement (km or miles as per user preference, miles on Daily Form pdf file) (WDMV)    
Weather types (WT**)

## Loading Dataset

In [2]:
irma =  pd.read_csv(r'data\irma_city.csv')
irma.head()

,NAME,DATE,AWND,WSF2,WSF5,coordinates
0,"FORT PIERCE ST LUCIE CO INTERNATIONAL AIRPORT,...",9/11/2017,17.45,44.1,62.0,"27.49816, -80.37626"
1,"FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US",9/11/2017,19.24,45.0,59.1,"26.53805, -81.75674"
2,NORTHWEST FLORIDA BEACHES INTERNATIONAL AIRPOR...,9/11/2017,19.01,30.0,45.0,"30.34869, -85.78835"
3,"BONIFAY TRI CO AIRPORT, FL US",9/11/2017,13.42,23.0,42.9,"30.84315, -85.60431"
4,"WHITING FIELD NAS SOUTH, FL US",9/11/2017,16.33,25.1,36.0,"30.69729, -87.02073"

## Using Geopy to Extract Cities from Coordinates

In [3]:
#importing libraries 
from tkinter import *
from geopy.geocoders import Nominatim
from geopy.geocoders import Photon

# Create an instance of tkinter frame
win = Tk()

# Define geometry of the window
win.geometry("700x350")

''

In [4]:
#creating a function 
def get_city(coords):
    #instantiate the Nominatim API 
    geolocator = Nominatim(user_agent="MyApp")
    #get the city from the coordinates 
    location = geolocator.reverse(coords)
    address = location.raw['address']
    city = address.get('city', '')
    #return the city 
    return city

In [5]:
#applying function to dataframe
irma['city'] = irma['coordinates'].apply(get_city)

In [6]:
#checking to see if cities were loaded 
irma.head()

,NAME,DATE,AWND,WSF2,WSF5,coordinates,city
0,"FORT PIERCE ST LUCIE CO INTERNATIONAL AIRPORT,...",9/11/2017,17.45,44.1,62.0,"27.49816, -80.37626",
1,"FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US",9/11/2017,19.24,45.0,59.1,"26.53805, -81.75674",Fort Myers
2,NORTHWEST FLORIDA BEACHES INTERNATIONAL AIRPOR...,9/11/2017,19.01,30.0,45.0,"30.34869, -85.78835",
3,"BONIFAY TRI CO AIRPORT, FL US",9/11/2017,13.42,23.0,42.9,"30.84315, -85.60431",
4,"WHITING FIELD NAS SOUTH, FL US",9/11/2017,16.33,25.1,36.0,"30.69729, -87.02073",

## Trying Geopy with Photon

In [7]:
#creating a function 
def get_city_photon(coords):
    # Initialize Nominatim API
    geolocator = Photon(user_agent="MyApp")
    #get the city from the coordinates 
    location = geolocator.reverse(coords)
    address = location.raw['address']
    city = address.get('city', '')
    #return the city 
    return city

In [8]:
#applying function to dataframe
irma['city'] = irma['coordinates'].apply(get_city_photon)

KeyError: 'address'

In [ ]:
irma.head()

# Alt City Method

In [9]:
#converting coordinates to a list 
coord = irma.coordinates.values.tolist()

#using map function to apply geolocator to all items in list 
geolocator = Nominatim(user_agent="MyApp")
location = map(geolocator.reverse, coord)

In [10]:
#saving the list to a dataframe 
df = pd.DataFrame(location, columns =['location', 'coordinates'], dtype = float) 
df

,location,coordinates
0,"3000, Curtis King Boulevard, Fort Pierce, Sain...","(27.4976101, -80.3756695)"
1,"Southwest Florida International Airport, 11000...","(26.53294975, -81.75880562612211)"
2,"Bay County, Florida, United States","(30.2481693, -85.6593633)"
3,"Tri-County Airport, Seminole Lane, Holmes Coun...","(30.84475065, -85.60302893933712)"
4,"Whiting Field NAS South, Santa Rosa County, Fl...","(30.696747315586343, -87.02160319146255)"
...,...,...
72,"Northwest 24th Way, Fort Lauderdale, Broward C...","(26.2011658, -80.1796717)"
73,"3441, Hamilton Road, Polk County, Florida, 338...","(28.000245682156468, -82.0499310622678)"
74,"Miami Gardens, Miami-Dade County, Florida, 330...","(25.9150507, -80.283763)"
75,"South Ramp, Capital Circle Southwest, Tallahas...","(30.39634345, -84.35334647210303)"
76,"Orlando Sanford International Airport, 1200, R...","(28.7754331, -81.24329602986423)"

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     77 non-null     object
 1   coordinates  77 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

In [12]:
location = df.location.values.tolist()

In [13]:
location

['3000, Curtis King Boulevard, Fort Pierce, Saint Lucie County, Florida, 34946, United States',
 'Southwest Florida International Airport, 11000, Terminal Access Road, Fort Myers, Lee County, Florida, 33913, United States',
 'Bay County, Florida, United States',
 'Tri-County Airport, Seminole Lane, Holmes County, Florida, 32425, United States',
 'Whiting Field NAS South, Santa Rosa County, Florida, 32570, United States',
 '1101, Airport Road, Destin, Okaloosa County, Florida, 32541, United States',
 'Jacksonville Executive at Craig Airport, Charles Lindbergh Drive, Jacksonville, Duval County, Florida, 32225, United States',
 'Pompano Beach Airpark, Northeast 10th Avenue, Pompano Beach, Broward County, Florida, 33060, United States',
 'Albert Whitted Airport, 107, 8th Avenue Southeast, Saint Petersburg, Pinellas County, Florida, 33701, United States',
 'General Aviation Parking, Southwest 77th Avenue, Pembroke Pines, Broward County, Florida, 33024, United States',
 'Jacksonville International Airport, Pecan Park Road, Beeghly Heights, Jacksonville, Duval County, Florida, 32218, United States',
 'Bob Sikes Airport, 5551, John Givens Road, Crestview, Okaloosa County, Florida, 32539, United States',
 'Marianna Municipal Airport, Bryan Road, Marianna, Jackson County, Florida, 32446, United States',
 'Pensacola International Airport, 2430, Airport Boulevard, Town Square Condominiums, Pensacola, Escambia County, Florida, 32504, United States',
 'Patrol Road, Jacksonville, Duval County, Florida, 32228, United States',
 '2566, Bellevue Avenue, Daytona Beach, Volusia County, Florida, 32114, United States',
 'Cross City Airport, 508, Faith Manor, Cross City, Dixie County, Florida, 32628, United States',
 'Apalachicola Regional Airport, Appalachee Street, Franklin County, Florida, 32320, United States',
 'Duncan Avenue, Palm Beach County, Florida, 33416, United States',
 'Vero Beach Municipal Airport, 3400, Cherokee Drive, Vero Beach, Indian River County, Florida, 32960, United States',
 'Economy Parking Road, Tampa, Hillsborough County, Florida, 33607, United States',
 'Orlando Executive Airport, Crystal Lake Drive, Orlando, Orange County, Florida, 32803, United States',
 'Punta Gorda Airport, 28000 A-1, Airport Road, Punta Gorda, Charlotte County, Florida, 33982, United States',
 'Uss Hornet Street, Santa Rosa County, Florida, 32570, United States',
 'Leesburg International Airport, US 441, Leesburg, Tavares, Lake County, Florida, 34788, United States',
 'Gainesville Regional Airport, Waldo Road, Gainesville, Alachua County, Florida, 32609, United States',
 'FreeZone Street, Orlando, Orange County, Florida, 32862, United States',
 'Catapult Road, Jacksonville, Duval County, Florida, 32212, United States',
 'Winter Haven Municipal Airport, Caleb Way, Polk County, Florida, 33881, United States',
 'Saint Petersburg-Clearwater International Airport, 14700, Terminal Boulevard, Clearwater, Pinellas County, Florida, 33762, United States',
 'Clyde Jones Road, Ballentine Manor, Manatee County, Florida, 34243, United States',
 'Northwest 24th Way, Fort Lauderdale, Broward County, Florida, 33309, United States',
 '3441, Hamilton Road, Polk County, Florida, 33811, United States',
 'Miami Gardens, Miami-Dade County, Florida, 33014, United States',
 '100, Southwest 34th Street, Fort Lauderdale, Broward County, Florida, 33315, United States',
 'South Ramp, Capital Circle Southwest, Tallahassee, Leon County, Florida, 32310, United States',
 'Orlando Sanford International Airport, 1200, Red Cleveland Boulevard, Sanford, Seminole County, Florida, 32773, United States',
 'Naples Municipal Airport, Janets Boulevard, Rock Creek RV Resort, Naples, Collier County, Florida, 34104, United States',
 '3000, Curtis King Boulevard, Fort Pierce, Saint Lucie County, Florida, 34946, United States',
 'Southwest Florida International Airport, 11000, Terminal Access Road, Fort Myers, Lee County, Florida, 33913, United States',
 'Bay County, Florida, United States',
 'Tri-County Airport, Seminole Lane, Holmes County, Florida, 32425, United States',
 'Whiting Field NAS South, Santa Rosa County, Florida, 32570, United States',
 '1101, Airport Road, Destin, Okaloosa County, Florida, 32541, United States',
 'Jacksonville Executive at Craig Airport, Charles Lindbergh Drive, Jacksonville, Duval County, Florida, 32225, United States',
 'Pompano Beach Airpark, Northeast 10th Avenue, Pompano Beach, Broward County, Florida, 33060, United States',
 'Albert Whitted Airport, 107, 8th Avenue Southeast, Saint Petersburg, Pinellas County, Florida, 33701, United States',
 'General Aviation Parking, Southwest 77th Avenue, Pembroke Pines, Broward County, Florida, 33024, United States',
 'Jacksonville International Airport, Pecan Park Road, Beeghly Heights, Jacksonville, Duval County, Florida, 32218, United States',
 'Bob Sikes Airport, 5551, John Givens Road, Crestview, Okaloosa County, Florida, 32539, United States',
 'Marianna Municipal Airport, Bryan Road, Marianna, Jackson County, Florida, 32446, United States',
 'Pensacola International Airport, 2430, Airport Boulevard, Town Square Condominiums, Pensacola, Escambia County, Florida, 32504, United States',
 'Patrol Road, Jacksonville, Duval County, Florida, 32228, United States',
 '2566, Bellevue Avenue, Daytona Beach, Volusia County, Florida, 32114, United States',
 'Cross City Airport, 508, Faith Manor, Cross City, Dixie County, Florida, 32628, United States',
 'Apalachicola Regional Airport, Appalachee Street, Franklin County, Florida, 32320, United States',
 'Milam Dairy Road, Miami-Dade County, Florida, 33152, United States',
 'Duncan Avenue, Palm Beach County, Florida, 33416, United States',
 'Vero Beach Municipal Airport, 3400, Cherokee Drive, Vero Beach, Indian River County, Florida, 32960, United States',
 'Economy Parking Road, Tampa, Hillsborough County, Florida, 33607, United States',
 'Orlando Executive Airport, Crystal Lake Drive, Orlando, Orange County, Florida, 32803, United States',
 'Punta Gorda Airport, 28000 A-1, Airport Road, Punta Gorda, Charlotte County, Florida, 33982, United States',
 'Uss Hornet Street, Santa Rosa County, Florida, 32570, United States',
 'Leesburg International Airport, US 441, Leesburg, Tavares, Lake County, Florida, 34788, United States',
 'Brooksville-Tampa Bay Regional Airport, 15800, Flight Path Drive, South Brooksville, Hernando County, Florida, 34604, United States',
 'Gainesville Regional Airport, Waldo Road, Gainesville, Alachua County, Florida, 32609, United States',
 'FreeZone Street, Orlando, Orange County, Florida, 32862, United States',
 'Catapult Road, Jacksonville, Duval County, Florida, 32212, United States',
 'Winter Haven Municipal Airport, Caleb Way, Polk County, Florida, 33881, United States',
 'Saint Petersburg-Clearwater International Airport, 14700, Terminal Boulevard, Clearwater, Pinellas County, Florida, 33762, United States',
 'Clyde Jones Road, Ballentine Manor, Manatee County, Florida, 34243, United States',
 'Southwest 136th Street, Country Walk, Miami-Dade County, Florida, 33196, United States',
 'Northwest 24th Way, Fort Lauderdale, Broward County, Florida, 33309, United States',
 '3441, Hamilton Road, Polk County, Florida, 33811, United States',
 'Miami Gardens, Miami-Dade County, Florida, 33014, United States',
 'South Ramp, Capital Circle Southwest, Tallahassee, Leon County, Florida, 32310, United States',
 'Orlando Sanford International Airport, 1200, Red Cleveland Boulevard, Sanford, Seminole County, Florida, 32773, United States']

In [14]:
print(location.raw)

AttributeError: 'list' object has no attribute 'raw'

In [15]:
#saving the list to a dataframe split
split = pd.DataFrame(location, columns =['location', 'coordinates'], dtype = float)

ValueError: could not convert string to float: '3000, Curtis King Boulevard, Fort Pierce, Saint Lucie County, Florida, 34946, United States'

In [ ]:
df.info()

In [ ]:
df.to_csv(r'data\location.csv', index=False)

In [ ]:
#we were able to extract the address for each entry 
#lets see if we can isolate the city 
#splitting the address to try to get just city 
split['location_list'] = split['location'].str.split(',')
split.info()

In [ ]:
#creating a column for each item in the address 
split = pd.DataFrame(df['location_list'].tolist()).fillna('').add_prefix('model_')
split.head()

# Geopandas

In [57]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.13.0-py3-none-any.whl (1.1 MB)
     ---------------------------------------- 1.1/1.1 MB 6.3 MB/s eta 0:00:00
Collecting pyproj>=3.0.1
  Downloading pyproj-3.5.0-cp310-cp310-win_amd64.whl (5.1 MB)
     ---------------------------------------- 5.1/5.1 MB 6.1 MB/s eta 0:00:00
Requirement already satisfied: packaging in c:\users\salom\anaconda3\lib\site-packages (from geopandas) (22.0)
Collecting fiona>=1.8.19
  Downloading Fiona-1.9.4.post1-cp310-cp310-win_amd64.whl (22.7 MB)
     ---------------------------------------- 22.7/22.7 MB 7.2 MB/s eta 0:00:00
Collecting shapely>=1.7.1
  Downloading shapely-2.0.1-cp310-cp310-win_amd64.whl (1.4 MB)
     ---------------------------------------- 1.4/1.4 MB 8.7 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.1.0 in c:\users\salom\anaconda3\lib\site-packages (from geopandas) (1.5.3)
Requirement already satisfied: click~=8.0 in c:\users\salom\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (8.0.4)
Requirement already satisfied: six in c:\users\salom\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\salom\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (22.1.0)
Requirement already satisfied: certifi in c:\users\salom\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (2022.12.7)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\salom\anaconda3\lib\site-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\salom\anaconda3\lib\site-packages (from pandas>=1.1.0->geopandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\salom\anaconda3\lib\site-packages (from pandas>=1.1.0->geopandas) (1.23.5)
Requirement already satisfied: colorama in c:\users\salom\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8.19->geopandas) (0.4.6)
Installing collected packages: shapely, pyproj, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.4.post1 geopandas-0.13.0 pyproj-3.5.0 shapely-2.0.1

In [58]:
irma.head()

,NAME,DATE,AWND,WSF2,WSF5,coordinates,city
0,"FORT PIERCE ST LUCIE CO INTERNATIONAL AIRPORT,...",9/11/2017,17.45,44.1,62.0,"27.49816, -80.37626",
1,"FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US",9/11/2017,19.24,45.0,59.1,"26.53805, -81.75674",Fort Myers
2,NORTHWEST FLORIDA BEACHES INTERNATIONAL AIRPOR...,9/11/2017,19.01,30.0,45.0,"30.34869, -85.78835",
3,"BONIFAY TRI CO AIRPORT, FL US",9/11/2017,13.42,23.0,42.9,"30.84315, -85.60431",
4,"WHITING FIELD NAS SOUTH, FL US",9/11/2017,16.33,25.1,36.0,"30.69729, -87.02073",

In [72]:
from shapely.geometry import Point

In [64]:
irma.coordinates[0]

'27.49816, -80.37626'

In [65]:
irma =  pd.read_csv(r'data\irma.csv')
irma.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,...,WT07,WT07_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT10,WT10_ATTRIBUTES,WT11,WT11_ATTRIBUTES
0,US1FLOK0029,"MARY ESTHER 0.6 E, FL US",30.410900,-86.647500,4.9,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00082915,"FEDERAL POINT, FL US",29.755000,-81.538900,1.5,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1FLVL0038,"OAK HILL 2.8 WSW, FL US",28.860597,-80.871231,1.8,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1FLBV0023,"COCOA 2.6 WNW, FL US",28.395600,-80.786800,7.0,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1FLVL0036,"DE LAND 1.4 WSW, FL US",29.026388,-81.318228,24.4,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
irma['list'] = irma[['LATITUDE', 'LONGITUDE']].values.tolist()
irma

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,...,WT07_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT10,WT10_ATTRIBUTES,WT11,WT11_ATTRIBUTES,list
0,US1FLOK0029,"MARY ESTHER 0.6 E, FL US",30.410900,-86.647500,4.9,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[30.4109, -86.6475]"
1,USC00082915,"FEDERAL POINT, FL US",29.755000,-81.538900,1.5,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[29.755, -81.5389]"
2,US1FLVL0038,"OAK HILL 2.8 WSW, FL US",28.860597,-80.871231,1.8,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[28.860597, -80.871231]"
3,US1FLBV0023,"COCOA 2.6 WNW, FL US",28.395600,-80.786800,7.0,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[28.3956, -80.7868]"
4,US1FLVL0036,"DE LAND 1.4 WSW, FL US",29.026388,-81.318228,24.4,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[29.02638751, -81.31822754]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,US1FLPK0007,"AUBURNDALE 1.7 NW, FL US",28.090015,-81.815750,42.1,9/10/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[28.090015, -81.81575]"
1054,USC00089176,"VENICE, FL US",27.100600,-82.436400,2.4,9/10/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[27.1006, -82.4364]"
1055,US1FLDV0066,"JACKSONVILLE 4.2 ESE, FL US",30.301649,-81.599052,7.0,9/10/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[30.30164909, -81.59905243]"
1056,US1FLDV0069,"JACKSONVILLE 6.7 WSW, FL US",30.303307,-81.763550,8.5,9/10/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[30.303307, -81.76355]"
1057,USC00083874,"HASTINGS 4 NE, FL US",29.765200,-81.469700,3.0,9/10/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[29.7652, -81.4697]"

In [75]:
from shapely.geometry import Point 
irma['Points'] = irma.list.apply(Point)
irma.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,...,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT10,WT10_ATTRIBUTES,WT11,WT11_ATTRIBUTES,list,Points
0,US1FLOK0029,"MARY ESTHER 0.6 E, FL US",30.410900,-86.647500,4.9,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[30.4109, -86.6475]",POINT (30.4109 -86.6475)
1,USC00082915,"FEDERAL POINT, FL US",29.755000,-81.538900,1.5,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[29.755, -81.5389]",POINT (29.755 -81.5389)
2,US1FLVL0038,"OAK HILL 2.8 WSW, FL US",28.860597,-80.871231,1.8,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[28.860597, -80.871231]",POINT (28.860597 -80.871231)
3,US1FLBV0023,"COCOA 2.6 WNW, FL US",28.395600,-80.786800,7.0,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[28.3956, -80.7868]",POINT (28.3956 -80.7868)
4,US1FLVL0036,"DE LAND 1.4 WSW, FL US",29.026388,-81.318228,24.4,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[29.02638751, -81.31822754]",POINT (29.02638751 -81.31822754)

In [80]:
irma.to_csv(r'data\irma_p.csv', index=False)

In [78]:
irma_s = irma.head(10)

In [79]:
geopandas.tools.reverse_geocode(irma_s.Points)

      geometry address
0  POINT EMPTY    None
1  POINT EMPTY    None
2  POINT EMPTY    None
3  POINT EMPTY    None
4  POINT EMPTY    None
5  POINT EMPTY    None
6  POINT EMPTY    None
7  POINT EMPTY    None
8  POINT EMPTY    None
9  POINT EMPTY    None

In [76]:
geopandas.tools.reverse_geocode(irma.Points)

KeyboardInterrupt:

## Attempting to get city from another database

In [32]:
#https://simplemaps.com/data/us-cities
c =  pd.read_csv(r'data\uscities.csv')
c.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,Anchorage,Anchorage,AK,Alaska,2020,Anchorage,61.1508,-149.1091,292545,66.1,shape,False,True,America/Anchorage,2,99518 99515 99517 99516 99513 99540 99530 9956...,1840023385
1,Fairbanks,Fairbanks,AK,Alaska,2090,Fairbanks North Star,64.8353,-147.6533,64160,382.2,shape,False,True,America/Anchorage,3,99701 99703 99712,1840023463
2,Juneau,Juneau,AK,Alaska,2110,Juneau,58.4546,-134.1739,32240,4.6,shape,False,True,America/Juneau,2,99824 99801 99802 99803 99811 99812 99821,1840023306
3,Badger,Badger,AK,Alaska,2090,Fairbanks North Star,64.8006,-147.3877,19226,114.3,shape,False,False,America/Anchorage,3,99705 99711,1840023690
4,Knik-Fairview,Knik-Fairview,AK,Alaska,2170,Matanuska-Susitna,61.5082,-149.6252,18282,92.8,shape,False,True,America/Anchorage,3,99623 99654,1840075080

In [33]:
c = c.loc[c['state_id'] == 'FL']
c.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
4361,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,5711945,4945.7,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4362,Tampa,Tampa,FL,Florida,12057,Hillsborough,27.9945,-82.4447,2683956,1340.7,shape,False,True,America/New_York,1,33629 33621 33620 33619 33616 33613 33617 3361...,1840015982
4363,Orlando,Orlando,FL,Florida,12095,Orange,28.4773,-81.3370,1927699,992.0,shape,False,True,America/New_York,1,32829 32827 32824 32822 32804 32805 32806 3280...,1840015099
4364,Jacksonville,Jacksonville,FL,Florida,12031,Duval,30.3322,-81.6749,1220191,466.3,shape,False,True,America/New_York,1,32224 32225 32226 32227 32220 32221 32222 3222...,1840015031
4365,Sarasota,Sarasota,FL,Florida,12115,Sarasota,27.3387,-82.5432,727388,1518.1,shape,False,True,America/New_York,2,34232 34234 34237 34236 34239 34276,1840015988

In [37]:
c = c[['city', 'lat', 'lng']]
c.head()

              city      lat      lng
4361         Miami  25.7840 -80.2101
4362         Tampa  27.9945 -82.4447
4363       Orlando  28.4773 -81.3370
4364  Jacksonville  30.3322 -81.6749
4365      Sarasota  27.3387 -82.5432

In [42]:
io =  pd.read_csv(r'data\irma_coord.csv')
io

,Unnamed: 0,NAME,LATITUDE,LONGITUDE,DATE,AWND,WSF2,WSF5
0,39,"FORT PIERCE ST LUCIE CO INTERNATIONAL AIRPORT,...",27.49816,-80.37626,9/11/2017,17.45,44.1,62.0
1,40,"FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US",26.53805,-81.75674,9/11/2017,19.24,45.0,59.1
2,59,NORTHWEST FLORIDA BEACHES INTERNATIONAL AIRPOR...,30.34869,-85.78835,9/11/2017,19.01,30.0,45.0
3,72,"BONIFAY TRI CO AIRPORT, FL US",30.84315,-85.60431,9/11/2017,13.42,23.0,42.9
4,84,"WHITING FIELD NAS SOUTH, FL US",30.69729,-87.02073,9/11/2017,16.33,25.1,36.0
...,...,...,...,...,...,...,...,...
72,1039,"FORT LAUDERDALE EXECUTIVE AIRPORT, FL US",26.19905,-80.17764,9/10/2017,37.13,53.0,74.9
73,1040,"LAKELAND LINDER REGIONAL AIRPORT, FL US",28.00000,-82.05000,9/10/2017,21.92,51.0,67.1
74,1041,"MIAMI OPA LOCKA AIRPORT, FL US",25.91017,-80.28283,9/10/2017,40.71,55.0,85.0
75,1043,"TALLAHASSEE REGIONAL AIRPORT, FL US",30.39354,-84.35136,9/10/2017,15.66,25.9,36.9
76,1048,"ORLANDO SANFORD AIRPORT, FL US",28.77951,-81.24356,9/10/2017,21.03,59.1,72.9

In [49]:
c.lat = c.lat.round(1)
c.lng = c.lng.round(1)
io.LATITUDE = io.LATITUDE.round(1)
io.LONGITUDE = io.LONGITUDE.round(1)

In [55]:
c.loc[c['city'] == 'Fort Myers']

            city   lat   lng
4408  Fort Myers  26.6 -81.8

In [54]:
c.loc[c['city'] == 'Miami']

       city   lat   lng
4361  Miami  25.8 -80.2

In [53]:
io

,Unnamed: 0,NAME,LATITUDE,LONGITUDE,DATE,AWND,WSF2,WSF5
0,39,"FORT PIERCE ST LUCIE CO INTERNATIONAL AIRPORT,...",27.5,-80.4,9/11/2017,17.45,44.1,62.0
1,40,"FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US",26.5,-81.8,9/11/2017,19.24,45.0,59.1
2,59,NORTHWEST FLORIDA BEACHES INTERNATIONAL AIRPOR...,30.4,-85.8,9/11/2017,19.01,30.0,45.0
3,72,"BONIFAY TRI CO AIRPORT, FL US",30.8,-85.6,9/11/2017,13.42,23.0,42.9
4,84,"WHITING FIELD NAS SOUTH, FL US",30.7,-87.0,9/11/2017,16.33,25.1,36.0
...,...,...,...,...,...,...,...,...
72,1039,"FORT LAUDERDALE EXECUTIVE AIRPORT, FL US",26.2,-80.2,9/10/2017,37.13,53.0,74.9
73,1040,"LAKELAND LINDER REGIONAL AIRPORT, FL US",28.0,-82.0,9/10/2017,21.92,51.0,67.1
74,1041,"MIAMI OPA LOCKA AIRPORT, FL US",25.9,-80.3,9/10/2017,40.71,55.0,85.0
75,1043,"TALLAHASSEE REGIONAL AIRPORT, FL US",30.4,-84.4,9/10/2017,15.66,25.9,36.9
76,1048,"ORLANDO SANFORD AIRPORT, FL US",28.8,-81.2,9/10/2017,21.03,59.1,72.9